.filter,
.add-client{
    display: inline-block;
}
.header-item{
    vertical-align: middle;
    display: inline-block;
    margin: 30px;
}
.client-data-item{
    width: 80px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    word-break:break-all;
}
.client-data-item img{
    width: 40px;
}
.client-data-item.date{
    width: 180px;
}