body{

}
 {
    box-sizing:border-box;
 }  
.container{
    background-color: aliceblue;
    border:solid 1px;
    border-radius: 3%;
    margin: 30px;
}
.filter,
.add-client{
    display: inline-block;
}
.header-list{
    margin-left:120px;
}
.header-item{
    width: 80px;
    display: inline-block;
    margin: 15px;
}
.client-data-item{
    width: 80px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    word-break:break-all;
}
.client-data-item img{
    width: 40px;
}
.client-data-item.date,
.header-item.date{
    width: 180px:
}